{% extends "main_app/base.html" %}
{% load static %}

{% block page_title %}{{ page_title|default:"Delete Asset" }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Delete Asset</h3>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>Are you sure you want to delete the asset <strong>"{{ object.title }}"</strong>?</p>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
                            <a href="{% url 'asset_app:assets-detail' object.id %}" class="btn btn-outline-secondary ml-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
